*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
  background-color: #002;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 800px;
  
  * {
    transform-style: preserve-3d;
  }
}

.scene {
  position: relative;
  transform: rotateX(calc(var(--y, 0) * -40deg)) rotateY(calc(var(--x, 0) * 180deg))
}

.floor {
  position: absolute;
  inset: -1000px;
  background-color: sandybrown;
  background-image:
    radial-gradient(closest-side, transparent, #002),
    radial-gradient(Black, 1%, transparent),
    repeating-linear-gradient(0deg, transparent 0, #0001, transparent 10px),
    repeating-linear-gradient(60deg, transparent 0, #0001, transparent 10px),
    repeating-linear-gradient(120deg, transparent 0, #0001, transparent 10px),
    ;
  transform: rotateX(90deg) translateZ(-200px);
}

.heart {
  position: absolute;
  left: 50%;
  
  &::after  {
    content: '';
    position: absolute;
    inset: -50px;
    background-color: var(--color, red);
    background-image:
      radial-gradient(#fff4, transparent),
      linear-gradient(transparent, black);
    clip-path: path('m 50 25 a 25 25 0 0 1 50 0 c 0 25 -50 50 -50 75 c 0 -25 -50 -50 -50 -75 a 25 25 0 0 1 50 0')
  }
}

.flower {
  position: absolute;
  top: 200px;
   
  i {
    position: absolute;
    bottom: 100%;
    width: 4px; height: 80px;
    background-color: limegreen;
    transform-origin: bottom;
    animation: flower 5s infinite ease-in-out alternate;
    
    @keyframes flower {
      from { transform: rotateX(-5deg)}
      to { transform: rotateX(5deg)}
    }
  }
  
  @for $i from 0 to 9 {
    .heart:nth-child(#{$i + 1}) {
      transform: rotateY(#{360deg / 9 * $i}) rotateX(#{random(30)}deg) translateY(-40px);
    }
  }
}

.leafs {
  position: absolute;
  top: 200px;
   
  i {
    position: absolute;
    bottom: 100%;
    width: 4px; height: 75%;
    background-color: limegreen;
    transform-origin: bottom;
    transform: rotateX(var(--rx));
  }
  
  @for $i from 0 to 12 {
    & > i:nth-child(#{$i + 1}) {
      left: -2px;
      height: #{random(40) + 40}px;
      rotate: y #{360deg / 12 * $i};
      --rx: #{random(27) + 10}deg;
      --color: hsl(120 100% #{random(20) + 20});
    }
  }

  .heart {
    transform: rotate(180deg) translateY(25px);
    filter: drop-shadow(0 0 25px #0005);
    
    &::after {
      background-image:
        repeating-linear-gradient(45deg, transparent 0, #0003, transparent 10px),
        linear-gradient(90deg, transparent 40%, #0003, transparent 60%),
        repeating-linear-gradient(-45deg, transparent 0, #0003, transparent 10px);
      background-size: 50% 100%;
      background-repeat: no-repeat;
      background-position-x: 0%, 50%, 100%;

    }
  }
}

i::after {
  content: '';
  position: absolute;
  inset: 0;
  background: inherit;
  rotate: y 90deg;
}